extends layouts/application

block content
  h1= title
  div(data-ng-controller='dummyCtrl')
    {{foo}}
  div
    | Wanna contribute, jean-michel is very open so just
    a.link_text(href='https://github.com/gregory/jean-michel') fork him
    | and PR (be kind, no push --force please)
