!!! 5
html
  head
    title=title
    link(rel='stylesheet', href='/styles/application.css')
  body
    block content
    div "super content"
  script(src='scripts/application.js', type='text/javascript')
