!!! 5
html
  head
    title=title

    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(charset='utf-8')
    link(type="text/css", rel='stylesheet', href='vendor/bootstrap/css/bootstrap.min.css')
    link(type="text/css", rel='stylesheet', href='/styles/application.css')

  body
    div.container
    block content
    script(src='vendor/require.js', data-main="scripts/home")
