!!! 5
html
  head
    title=title

    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(charset='utf-8')
    link(type="text/css", rel='stylesheet', href='/public/vendor/bootstrap/css/bootstrap.min.css')
    link(type="text/css", rel='stylesheet', href='/public/styles/application.css')

  body
    div.container
    block content
    script(src='/public/vendor/require.js', data-main="/public/scripts/home")
